body{
    overflow-x: hidden;
    background-image: url(/Images/original.gif);
    background-size: cover;
}

.navbar{
    text-align: left;
    background-color: #333;
    color: white;
    padding: 0;
    position: fixed;
    display: flex;
    font-family:ubuntu ;
    flex: 0%;
    font-size: 1rem;   
    box-sizing:border-box;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

.navbar a{
    color: white;
    font-size: 1.5rem;
    padding: 0.9rem;
}
.navbar a:hover{
    color: greenyellow;
    background-color: white;
}
.navbar a:active{
    background-color:greenyellow;
    color: white;
}
.body{
    background-color: black;
    margin:0;
}
#fstpara{
    display: flex;
}
#contact{
    color: white;
}
html{
    scroll-behavior: smooth;
}
.textoftroll{
    color: white;
    font-size: 2rem;
    text-align: justify; 
    margin: 5%;
    display: inline-block;
    justify-content: center;
    padding: 0;
    
}
.trollimage {
    width: 50vw;
    display: inline-block;
    vertical-align: top;
    height: auto;
    
}
#ghar{
    display: flex;
    height:90vh;
    box-sizing: border-box;
    border: 10px;
    padding: 10px;
}
.main-body{
    margin-top: 5rem;
    position: absolute;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: greenyellow
}
::-webkit-scrollbar-track{
    background-color: #333;
}
.portfolio{
    display: flex;
    background-color: rgb(rgb(0, 255, 157), rgba(0, 128, 0, 0.877), rgb(0, 255, 157));
    height:93vh;
    
}
.portfolio div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 2px;
    border: 1rem solid black;
}
.portfolio div  p{
    margin: 2px;
    padding: 2px;
    justify-content: center;
    font-size: 1.5rem;
    text-align: justify;
    color: white;
}
.portfolio div img{
    width: 15rem;
    height: 15rem;
    align-items: center;
}
.contact{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    background-image: url(/Images/starbackground.jpg);
}
.contact div{
    color: rgba(214, 255, 250, 0.993);
    
    font-size: 4rem;
    width:100vw;
    
    
    background-size: cover;
    text-align: center;
    
}
