.navbar{
    text-align: left;
    background-color: #333;
    color: white;
    padding: 0;
    position: relative;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 0%;
    font-size: 2rem;   
    box-sizing:border-box;
    width: 100%;
    overflow: hidden;

}
.navbar a{
    color: white;
    font-size: 2rem;
    padding: 0.9rem;
}
.navbar a:hover{
    color: greenyellow;
    background-color: white;
}
.navbar a:active{
    background-color:greenyellow;
    color: white;
}
.body{
    background-color: black;
    margin:0;
}
#fstpara{
    display: flex;
}
#contact{
    color: white;
}
html{
    scroll-behavior: smooth;
}
.textoftroll{
    color: white;
    font-size: 2rem;
    text-align: justify;
    margin: 1rem;  
    width: 50%;
    display: inline-block;
    justify-content: right;
    padding: 20%;
}
.trollimage {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}
.contact{
    display: flex;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: greenyellow
}
::-webkit-scrollbar-track{
    background-color: #333;
}
