.navbar{
    text-align: left;
    background-color: #333;
    color: white;
    padding: 5px 5px;
    position: relative;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 0%;
    font-size: 2vw;   
   
    
    box-sizing:border-box;
    width: 100%;
    overflow: hidden;
    
}
.navbar a{
    color: white;
    font-size: 2vw;
    padding: 14px 16px;
}
.navbar a:hover{
    color: greenyellow;
    background-color: white;
    font-size: 2vw;
    padding: 14px 16px;
}
.navbar a:active{
    background-color: #04AA6D;
    color: white;
}
.body{
    background-color: black;
    margin:0;
}
p{
    color: white;
    font-size: 7px;
}